.add-user-box {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    margin: 1rem;
}

.add-user-box .material-symbols-outlined {
    cursor: pointer;
    font-size: 3rem;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.add-user-box .material-symbols-outlined:hover {
    color: #4682A9;
    transform: scale(1.2);
}

.add-user-box .material-symbols-outlined:active {
    transform: scale(.95);
}

.load-user-data-button {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: visibility 0.2s, opacity 0.3s, transform 0.3s ease-in-out;
}

.material-symbols-outlined:hover + .load-user-data-button {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.disabled {
    opacity: .8;
    pointer-events: none;
}

.no-account {
    font-size: .75rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.no-account:hover {
    color: #F6F4EB;
}

.no-account:active {
    transform: scale(0.9);
}